
<div class="Movie">
	<img src = '<%= @movie["Poster"] %>' />
	<ul>
		<li>
			Title: <%= @movie["Title"] %>
		</li>
		<li>
			Year: <%= @movie["Year"] %>
	  	</li>
		<li>
			Rated: <%= @movie["Rated"] %>
		</li>
		<li>
			Released: <%= @movie["Released"] %>
		</li>
		<li>
			Director: <%= @movie["Director"] %>
		</li>
		<li>
			Actors: <%= @movie["Actors"] %>
		</li>
		<li>
			Plot: <%= @movie["Plot"] %>
		</li>
		<li>
			Rotten Tomatoes: <%= @movie["tomatoMeter"]%>
		</li>
	</ul>
</div>